body {
  font-family: Verdana, Arial , sans-serif;
  padding:0;
  margin:0;
  background: #505050;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.defaultcursor {
  cursor: default;
}

/* Headerline */ 

#headerline {
  margin:0;
  padding:5px;
  height:60px;
  background: #303030;
  position:relative;
}

#headerline > .logo {
  display:inline-block;
  vertical-align:middle;
  margin:10px;
}

#headerline > .logo > .logoimage {
  display:inline-block;
  width: 40px;
  height:40px;
  vertical-align:middle;
  padding: 0;
}

#headerline > .logo > .logoimage > svg {
  width: 40px;
  height:40px;
  fill: #ffffff;
}

#headerline > .logo > .logotext {
  display:inline-block;
  vertical-align:middle;
  display: inline;
  margin:10px;
  font-size:30px;
  font-variant: small-caps;
  color: #ffffff;
}

/* Connection Status */ 
  
@keyframes connectingColorFrames {
  0%, 100% {fill: #4679F2; color: #4679F2;}
  50%      {fill: #BF4AB7; color: #BF4AB7;}
}

@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0;}
}
      
#connection-status {
  padding:0;
  position: absolute;
  right:15px;
  top:23px;
  width:100px;
  text-align:center;
}        
#connection-status.disconnected {     
  fill: #FC3C11;
  color: #FC3C11;      
}
#connection-status.connecting {
  fill: #4679F2;
  color: #4679F2;
  animation-name: connectingColorFrames;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: wait;
}
#connection-status.connected {
  fill: #17B566;
  color: #17B566;
}

#connection-status > svg {
  width: 30px;
}
#connection-status > svg.cloud-normal {
  display: none;
}
#connection-status > svg.cloud-thundercloud {
  display: none;
}    
#connection-status.disconnected > svg.cloud-thundercloud {
  display: inline-block;
}    
#connection-status.connecting > svg.cloud-normal {
  display: inline-block;
}
#connection-status.connected > svg.cloud-normal {
  display: inline-block;
}
#connection-status > .label {
  position: absolute;
  width:100px;
  top:20px;
  left: 0px;
  text-align: center;
  display: none;
}
#connection-status.disconnected > .label.disconnected {
  display: inline-block;
}
#connection-status.connecting > .label.connecting {
  display: inline-block;
}
#connection-status.connected > .label.connected {
  display: inline-block;
  opacity: 0;
  animation: fade 4s ease-out;
}
#connection-status.connected:hover > .label.connected {
  opacity: 1;
}

/* Metrics */ 

#metricBody {
  margin: 0;
  padding:5px;
  font-size: 0;
}

.metricBox {
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background: #303030;
  margin:5px;
  font-size: 12px;
}

.metricBox > .label {
  width: 150px;
  height:30px;
  padding:2px;        
  position: absolute;
  top:75px;
  left:-48px;
  text-align: right;
  
  moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  
  text-transform: uppercase;
  
  font-size:12px;
  color: #999;
}

.metricBox > .chartContainer {
  margin: 15px;
  margin-left:20px;
  padding: 0;
  position:relative;
}

.metricBox > .chartContainer > .chart {
  display: block;
  margin:0;
  margin-left:62px;
  margin-bottom:2px;
  padding: 0;
  width: 400px;
  height:200px;
}

.metricBox > .chartContainer > .chart  .area {
  opacity: 0.8;
}

.metricBox > .chartContainer > .chart  .path {
  opacity: 0.8;
}

.metricBox > .chartContainer > .chart  .tick {
  stroke:rgba(255,255,255, 0.1);
}

.metricBox > .chartContainer > .legend {
  display: inline;
  position: absolute;
  top: 4px;
  left: 62px;
  background: rgba(255,255,255,0.03);
  padding:3px;
  margin:0;
  opacity: 0.5;
  font-size:10px;
}

.metricBox > .chartContainer > .legend  .swatch  {
  width: 10px;
  height: 10px;
}

.metricBox > .chartContainer > .legend  .action  {
  font-size: 10px;
}

.metricBox > .chartContainer > .y_axis {
  display: inline;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding:0;
  margin:0;
  width: 60px;
  fill: #ffffff;
}
.metricBox > .chartContainer > .x_axis {
  display: inline-block;
  padding:0;
  margin:0;
  margin-left: 62px;
  height:20px;
  width: 400px;
  fill: #ffffff;
}


.metricBox .cpuload {}